// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Commons
@import 'commons';

// Partials Admin Users
@import './partials/users/_show';
@import './partials/users/_edit';

// Partials Admin Reviews
@import './partials/reviews/_index';

// Partials Admin Messages
@import './partials/messages/_index';

// Partials Statistics
@import './partials/_statistics';

// Partials Admin Sponsors
@import './partials/_sponsors';
